@use '../../scss/variable' as *;
@use '../../scss/mixin' as *;
.slider-container{
    position: relative;
    margin-bottom: 60px;
}
.slider-wrapper{
    position: relative;
    // height:400px;
}


.slider-item{
    display:none;
    width: 100%;
    // height:400px;
    padding-top:40%;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: $border-radius;
    transition: all 0.5 ease-in-out;
    // object-fit: none;
    // box-shadow: 0 0 5px 5px rgb(213, 227, 235);
    @include keyframes(fade){
        0%{
            transform: translateY(-50px);
            opacity: 0.5;
        }
        100%{
            transform: translateX(0);
            opacity: 1;

        }
    }
    @include animate(fade,1.2s,linear,0s);

    &.active{
        display: block;
      
    }
}
.dot-wrapper{
    position:absolute;
    top:calc(100% + 8px);
    left:50%;
    z-index: 99;
    display:flex;
    align-items: center;
    transform: translateX(-50%);
    .dot{
        margin-left: 4px;
        display:inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $border-color;
        transition:all 0.8s ease-in-out;
        cursor: pointer;
        // transform: translateY(50%);
        &.active{
            background-color:$main-color;
            width:20px;
            border-radius:20%;
            height:5px;
        }
    }
}
.button-{
    &prev{
        position:absolute;
        top:50%;
        left:5px;
        display:flex;
        align-items:center;
        justify-content:center;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        padding:16px 12px;
        border-radius:50%;
        i{
            font-size: 48px;
            color:$main-color;
            opacity: 0.2;
            transform: translateX(-10%);
            &:hover{
                opacity: 1;
            }
        }

        &:hover{
            background-color: rgba($color:#333, $alpha: 0.8);
            opacity: 1;
            i{
                opacity: 1;
            }
        }
    }
    &next{
        position:absolute;
        top:50%;
        right:5px;
        display:flex;
        align-items:center;
        justify-content:center;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        padding:16px 12px;
        border-radius:50%;
        i{
            font-size: 48px;
            color:$main-color;
            opacity: 0.2;
            transform: translateX(10%);
            &:hover{
                opacity: 1;
            }
        }

        &:hover{
            background-color: rgba($color:#333, $alpha: 0.8);
            opacity: 1;
            i{
                opacity: 1;
            }
        }
    }
}