@use '../../scss/' as *;


.music-player-container{
    max-width:$music-player-width;
    width: 100%;
    height:100vh;
    position:fixed;
    top:0;
    right:0;
    border-left:1px solid $border-color;;
    padding:16px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.music-player-content{
    padding: 12px;
    background-color: $bg-tag;
    min-height: 400px;
    border-radius: 8px;
    .music-player-playing{
        padding: 8px;
        &__thumnail{
            img{
                width: 100%;
                border-radius: 8px;
            }
        }
        &__title{
            margin-top: 4px;
            color:$main-color;
            font-weight: 600;
            p{
                font-size: 1.1rem;
            }
        }

        &__singer{
            margin-top: 4px;
            color:$text-color-second;
            span{
                margin-left: 4px;
            }
        }
    }
    .music-player-playlist{
        width: 100%;
        display:flex;
        flex-direction: column;
        max-height: 60vh;
        overflow-x:unset;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display:none;
        }
        
        &__playing:nth-child(1){
            margin-bottom: 24px;
            background-color: $main-color;
            border-radius: 4px;
            &:hover{
                background-color: $main-color;
                opacity: 0.8;
            }
        }
        &__playing{
            display:flex;
            width: 100%;
            align-items: center;
            padding:12px;
            cursor: pointer;
            font-size: 0.9rem;
            &:hover{
                background-color:$bg-tag;
            }
            &__img{
                width: 100%;
                max-width:50px;
                margin-right: 12px;
                display:flex;
                align-items: center;
                img{
                    width: 100%;
                    border-radius:4px;
                }
            }

            &__text{
                display:flex;
                flex-direction: column;
                flex:1;
                &__title{
                    flex:1;
                    justify-self: flex-start;
                    max-height: 1.4rem;
                    line-height: 1.4rem;
                    overflow: hidden;
                    text-overflow: clip;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                            line-clamp: 1; 
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                }
                &__singer{
                    margin-top: 4px;
                    display:flex;
                    flex:1;
                    max-height: 1.4rem;
                    line-height: 1.4rem;
                    overflow: hidden;
                    text-overflow: clip;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                            line-clamp: 1; 
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                }
            }
            &__options{
                display:flex;
                justify-self: flex-end;
                &__item{
                    font-size: 1.5rem;
                }
                &__item:hover{
                    color:$main-color;
                }
            }
        }
    }
}
.music-player-controls{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 32px;
    &__time{
        @include flex(center,unset);
        &__current{

        }
        &__progress{
            @include flex(center,unset);
            flex:1;
            padding: 0 12px;
            input{
                width: 100%;
            }
            transform:translateY(-5%)
        }
        &__duration{
            
        }
    }
    &__buttons{
        display:flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        margin-top: 12px;
        &__item{
            margin-right: 8px;
            font-size: 1.2rem;
            cursor: pointer;
        }
        &__item.center{
            font-size: 1.5rem;
        }
    }
}
@include minipc{
    .music-player-container{
        display:none;
    }
}