@use '../../scss/' as *;
.playlist-music{
    margin-top: 24px;
    width: 100%;
    &__title{
        margin-bottom: 12px;
        h3{
            font-size: 1.5rem;
        }
    }

    &__list{
        display:flex;
        flex-direction: column;
        width: 100%;
        font-size: 0.9rem;
        @include minipc{
            font-size: 1rem;
        }
        @include mobile{
            font-size: 1.1rem;
        }
        &__item{
            cursor: pointer;
            display:flex;
            align-items: center;
            width: 100%;
            color:$txt-color;
            background-color: rgba(244,246,248,0.02);;
            padding:6px 12px;
            margin-bottom: 4px;
            &__name{
                flex:3;
                padding:0 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
               
            }
            &__singer{
                flex:3;
                color:$text-color-second;
                &:hover{
                    color:$main-color;
                }
            }
            &__views{
                flex:1;
                text-align: center;
                color:$text-color-second;
                @include mobile{
                    display:none;
                }
            }
            &__duration{
                flex:1;
                text-align: center;
                color:$text-color-second;
                @include mobile{
                    display:none;
                }
            }
            &__options{
                width:50px;
                text-align: center;
                display:flex;
                justify-content: center;
                @include mobile{
                    width: 30px;
                    display:flex;
                    flex-direction: column;
                }
              
                // flex-direction: column;
                &__item{
                    color:$text-color-second;
                    margin-right: 8px;
                    position: relative;
                    flex:1;
                    i{
                        font-size: 1rem;
                        @include minipc{
                            font-size: 1.3rem;
                        }
                        @include mobile{
                            font-size: 2rem;
                            margin-top: 8px;
                        }
                    }
                    span{
                        display:none;
                        position: absolute;
                        border-radius: 4px;
                        top:50%;
                        right:0;
                        width:100px;
                        padding:4px;
                        z-index: 99;
                        transform:translateX(calc(100% + 5px))
                    }
                    &:hover{
                        color:$main-color;
                        span{
                            display:block;
                            color:$main-color;
                            background-color:#fff;
                        }
                    }
                }
            }
            &:hover{
                background-color: $bg-tag;
            }
        }
        &__item:nth-child(1){
            cursor:default;
            display:flex;
            width: 100%;
            color:$txt-color;
            background-color: $bg-tag;
            font-weight: 700;
            padding:6px 12px;
            margin-bottom: 8px;
            .playlist-music__list__item__name{
                
                color:inherit;
            }
            .playlist-music__list__item__singer{
                
                color:inherit;

            }
            .playlist-music__list__item__views{
                
                text-align: center;
                color:inherit;

            }
            .playlist-music__list__item__duration{
                
                text-align: center;
                color:inherit;

            }

        }
    }
}