@use '../../scss/' as *;

.playlist-detail{
    display:flex;
    // width: 100%;
    padding-bottom: 12px;
    border-bottom:2px solid $bg-second;
    &__thumbnail{
        display:flex;
        align-items: center;
        min-width: 300px;
        img{
            border-radius:$border-radius ;
            width: 100%;
        }
        @include tablet{
            min-width: 200px;
        }
        @include mobile{
            min-width: 100px;
            max-width: 100px;
        }
    }


    &__information{
        margin-left: 24px;
        width: 100%;
        &__title{
            font-size: 1.2rem;
            font-weight:700;
            span{
                font-size: 1rem;
                font-weight:600;
                color:$text-color-second;
            }
        }


        &__artists{
            display:flex;
            flex-direction: column;
            &__item{
                display:flex;
                align-items:center;
                &__avatar{
                    width: 30px;
                    img{
                        width: 100%;
                        border-radius:50%;
                        border:1px solid $white;
                       
                    }
                    @include mobile{
                        width: 20px;
                    }
                    @include tablet{
                        width: 25px;
                    }
                    
                }
                &__name{
                    margin-left: 24px;
                    font-size: 0.8rem;
                    font-weight:600;
                    color:$text-color-second;
                }
            }
        }

        &__datemodify{
            margin-top: 12px;
            font-size: 1.1rem;
            font-weight:600;
            color:$text-color-second;
        }

        &__uploadby{
            display:flex;
            align-items: center;
            margin-top: 12px;
            &__avatar{
                img{
                    width: 50px;
                    border-radius:50%;
                    max-height: 50px;
                }
            }
            &__fullname{
                margin-left: 12px;
                transform: translateY(-20%);
                font-size:1.2rem;
                color:$main-color;
                font-weight: 600;
                span{
                    font-size: 1rem;
                    font-weight:400;
                    color:$text-color-second;
                }
            }
        }

        &__tags{
            margin-top: 12px;
            width:100%;
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            @include mobile{
                display:none;
            }
            span{
                font-weight:400;
                color:$text-color-second;
            }
            li{
                position: relative;
                height:30px;
                align-items: center;
                margin-left: 30px;
                margin-top: 8px;
                display:flex;
                justify-content:center;
                font-size: 1rem;
                color:$text-color-second;
                min-width:15%;
                background-color: $bg-tag;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                padding: 8px;

                &:hover{
                    color:$main-color;
                    cursor: pointer;
                }
                &::after{
                    content:"";
                    position: absolute;
                    top:0;
                    right:0;
                    border-top: 15px solid transparent; 
                    border-bottom: 15px solid transparent;
                    border-left: 20px solid $bg-tag;
                    transform:translateX(100%)
                }
            }
        }
    }
}