@use '../../scss/' as *;

.card-item{
    cursor:default;
    margin-bottom: 24px;
    &__img{
        width: 100%;
        position: relative;
        .card-item-overlay{
            display:none;
            position:absolute;
            top:0;
            left:0;
            width: 100%;
            height:98%;
            align-items: center;
            justify-content:center;
            transition: all 0.3s ease-in-out;
            @include overlay;
            &__box-icon{
                padding:24px;
                border-radius: 50%;
                i{
                    font-size: 48px;
                    transition: all 0.3s ease-in-out;
                }
                &:hover i{
                    color:rgb(243, 67, 67);
                    transform: scale(1.2);
                }
            }
        }
        &:hover .card-item-overlay{
            display:flex;
            cursor: pointer;
            transform:scale(1.05);
        }
        img{
            width: 100%;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
        }
        &:hover img{
            transform:scale(1.05);
        }
    }

    &__title{
        font-size: 18px;
        text-align: center;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;

        &:hover{
            color:$main-color;
            cursor: pointer;
        }
    }
}