@use '../../scss/' as *;
.top10-baihat-content{
    &__list{
        display:flex;
        flex-direction: column;
        height: 400px;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
        @include mobile{
           height:800px;
        }
        &__item{
            width: 49%;
            height:19%;
            background-color:$bg-tag;
            display:flex;
            align-items: center;
            padding:12px;
            margin-bottom: 4px;
            color:$text-color-second;
            @include mobile{
                width: 99%;
                height:9%;
            }
            &:nth-child(n+6){
                margin-left: 12px;
                @include mobile{
                    margin-left: 0;
                }
            }
            &:hover{
                background-color:#0fa1c5;
                color:#f9f9f9;
                cursor: pointer;
            }
            &:hover &__options{
                display:flex;
            }
            &:hover &__views{
                display:none;
            }
            &__options{
                display:none;
                @include mobile{
                    display:flex;
                }
                align-items: center;
                padding:12px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
                &__item{
                    i{
                        font-size:1rem;
                        @include mobile{
                            font-size:1.5rem;
                        }
                    }
                    &:hover {
                        i{
                            color:$main-color;
                        }
                    }
                }
                &:hover{
                    background-color:rgb(64, 73, 82,0.5);
                }
            }
            &__img{
                background-position: top center;
                background-repeat: no-repeat;
                background-size: cover;
                width:54px;
                height:54px;
                border-radius: 4px;
            }
            &__text{
                margin-left: 12px;
                flex:1;
                &__title{
                    font-size: 1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                            line-clamp: 2; 
                    -webkit-box-orient: vertical;
                    @include mobile{
                        font-size:1.2rem;
                    }
                }
                &__singer{
                    font-size:0.9rem;
                    @include mobile{
                        font-size:1.1rem;
                    }
                }
            }
            &__views{
                display:flex;
                align-items: center;
                i{
                    margin-right: 12px;
                    @include mobile{
                        font-size:1.5rem;
                    }
                }
                span{
                    font-size:1rem;
                    margin-right: 12px;
                    @include mobile{
                        font-size:1.2rem;
                    }
                }
            }
        }
    }
}