@use '../../../scss/' as *;

.music-player-controls{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 32px;
    @include minipc{
        margin-top:8px;
        margin-bottom: 0;
    }
    &__volume{
        position:absolute;
        top:75%;
        display:flex;
        align-items: center;
        padding:12px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        z-index: 9999;
        @include minipc{
            position: relative;
            top:unset;
            max-width:50px;
        }
        i{
            color:$text-color-second;
            @include minipc{
                font-size: 1.5rem;
            }
        }
        &:hover{
            background-color: #18222d;
            @include minipc{
                background-color: unset;
            }
        }
        &:hover &__input{
            display:flex;
            cursor: pointer;
            background-color: #18222d;
            
        }
        &__input{
            display:none;
            position: absolute;
            transform:rotate(-90deg) translateY(-27%) translateX(-10%);
            transform-origin: left 0;
            bottom: 0;
            padding:12px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            input{
                max-width: 100px;
                cursor: pointer;
            }
        }
    }
    &__time{
        @include flex(center,unset);
        &__current{
            color:$text-color-second;
            @include tablet{
                font-size:1.4rem;
            }
        }
        &__progress{
            @include flex(center,unset);
           
            flex:1;
            padding: 0 12px;
            input{
                width: 100%;
                cursor: pointer;
            }
            transform:translateY(-5%)
        }
        &__duration{
            color:$text-color-second;
            @include tablet{
                font-size:1.4rem;
            }
        }
    }
    &__buttons{
        display:flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        margin-top: 12px;
        &__item{
            margin-right: 8px;
            font-size: 1.2rem;
            cursor: pointer;
            i.main-color{
                color:$main-color;
            }
            @include minipc{
                margin-right: 4px;
                font-size: 1.5rem;
            }
            
            
        }
        &__item.center{
            font-size: 1.5rem;
            @include minipc{
                font-size: 2rem;
            }
        }
    }
}