@use '../../scss/' as *;

.search{
    min-height: 100vh;
    padding:24px 12px;
}
.search-container{
    width:100%;
    padding:36px;
    @include mobile{
        padding:0;
    }
}
.search-header{
    display: flex;
    margin-bottom: 24px;
}
.search-keyword{
    display:flex;

    &__input{
        width: 400px;
        outline: none;
        border:1px solid $bg-tag;
        background-color: $bg-second;
        color:$txt-color;
        padding:0 12px;

        @include mobile{
            width:200px;
            height:30px;
        }
    }

    &__submit{
        background-color:$bg-second ;
        border:none;
        padding:8px 12px;
        color:$text-color-second;
        i{
            font-size:1rem;
        }
        &:hover{
            color:$main-color;
        }
    }
}