


$body-bg: #1d2631;
$main-color:#2daaed;
$txt-color:rgba(244,246,248,0.88);
$text-color-second:rgba(244,246,248,0.5);

$bg-tag:rgba(244,246,248,0.05);
$bg-navbar-mobile:#251f1f;

$bg-second:rgba(244,246,248,0.02);


$white: #fff;
$black:#000;

$box-shadow: rgba(100,1000,111,0.2) 0px 7px 29px 0px;

$border-radius:15px;
$border-color:#28313c;

$navbar-width:240px;
$music-player-width:330px;
$navbar-mobile-height:50px;
$music-player-mobile-height:120px;


$mobile-width:600px;
$tablet-width:1024px;
$mini-pc-width:1280px;

$font-family:"Montserrat" , sans-serif;